.consulting-landing{
	background-image: url("../images/pexels-photo-woodpanel-colours.jpeg");
	background-color: pale-gray;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	width: 100%;
}

.blog-landing{
	background-image: url("../images/boat_sea.png");
	background-color: pale-gray;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	width: 100%;
}

.blog-item {
	border-top: 1px solid gray;
	/*border-bottom: 1px solid gray;*/
	padding: 2px;
}

.menu-contact {
	float:left;	
	padding-top:12px;
}

.blog-title{
	font-size: 18px;
}

.gdpr{
	background-image: url("../images/pexels-photo-glasses-computers.jpeg");
	background-color: pale-gray;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	width: 100%;
}

.aml{
	background-image: url("../images/pexels-photo-windows-london.jpg");
	background-color: pale-gray;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	width: 100%;
}

.contact{
	background-image: linear-gradient(gray, #F8F8FF),
					linear-gradient(black, black);
	font-size: 18px;
	color: black;
}

.story{
	background-image: url("../images/pexels-pattern-wood-triangles.jpg");

	background-color: black;
	background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	font-size: 18px;
	color: black;
}

.quote{	
	font-size: 29px;
	color: black;
	line-height: 120%;

	
}

.hide {
 display:none;
}

.footer{
	font-size: 12px;

}

.training{
	background-image: url("../images/pexels-photo-classroom-chairs-low.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	width: 100%;
}

.careers{
	background-image: url("../images/careers_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	width: 100%;
	color: white;
}

.public-training{
	background-image: url("../images/chairs	.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
	width: 100%;
	

}

.homepage-seminar{
	background-image: url("../images/aml-seminar-galway-small.png");
	background-repeat: no-repeat;
	background-attachment: cover;
	background-size: 1200px 1000px;
	width: 100%;
}

.white-insert{
	background-color:white;
	opacity: 0.9;
	font-size: 17px;
	color: black;
	margin-top: 0px;
}

.grey-insert{
	background-color:#D3D3D3;
	opacity: 0.9;
	font-size: 17px;
	color: black;
	margin-top: 0px;
}

.home-training{
	background-image: linear-gradient(gray, #F8F8FF),
					linear-gradient(black, black);
	opacity: 0.9;
	font-size: 30px;
	color: #282828;
	padding: 0px;
	text-align:center;
	line-height:100px;
	position:absolute;
	top:360px;
	min-width: 300px;
}

.home-training a { color:black; text-decoration:none }
.home-training a:hover { 
	color:white; 
	text-decoration:none;
	background-image: linear-gradient(#F8F8FF, gray),
					linear-gradient(black, black);
	
	}

.home-consulting{
	background-image: linear-gradient(#F8F8FF, 	#480000 ),
					linear-gradient(black, black);
	opacity: 0.9;
	font-size: 30px;
	color: #282828;
	padding: 0px;
	text-align:center;
	line-height:100px;
	position:absolute;
	top:500px;
	min-width:300px;
}


.home-consulting a { color:black; text-decoration:none }
.home-consulting a:hover { 
	text-decoration:none;
	background-image: linear-gradient(#480000 , #F8F8FF),
					linear-gradient(black, black);
	}

.white-link-text {
	color:white!important;
}
.white-link-text a {
	color:white!important;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 25px;
}

.mobile-text {
	font-size : 20px;
}

.box-item {
  background-image: linear-gradient(#F8F8FF, #F8F8FF),
					linear-gradient(black, black);
  background-repeat: no-repeat;

  /* First sizing pair (4px 50%) will define the size of the border i.e border
     will be of having 4px width and 50% height. */
  /* 2nd pair will define the size of stretched background image. */
  background-size: 75% 90%, 75% 93%;

  /* Similar to size, first pair will define the position of the border
     and 2nd one for the container background */
  background-position: center center, center center;
  
}




.consulting-body{
	font-size: 18px;
}


.public-training-body{
	background-color:#D3D3D3;
}

.date {
	display:none;
}

.highlight {
	color:red;
	font-weight:bold;
}

.title-row {
	font-weight: bold;
	font-size: 18px;
	background-color: #303030;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.table-even-row{
	background-color: #F5F5F5;
    margin-left: -15px;
	margin-right: -15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table-odd-row{
	background-color: white;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 10px;
	padding-bottom: 10px;
}



.gdpr-answer{
	background-color: #D3D3D3;
	border: 1px solid black; 
	font-size: 16px;
	padding-left: 25px;
}


.demo{
	background-color: pale-gray;
	background: #D3D3D3 !important;	
	display: flex;
	align-self: center;	
	text-align: center;
	border: 1px solid gray; 
	
}

.grey-scale{
	background-image: linear-gradient(gray, #F8F8FF),
					linear-gradient(black, black);
}

.blue-scale{
	background-image: linear-gradient(#E6E6FA, #F8F8FF),
					linear-gradient(black, black);
}



.regsol-navbar{
	background-color: pale-gray;
	background: #D3D3D3 !important;	
}


.navbar_regsol {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_regsol a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown_regsol {
    float: left;
    overflow: relative;
	margin-bottom:-15px;
	text-align:center;
}

.dropdown_regsol .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar_regsol a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
    margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #F5F5F5;
    margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table-striped tbody th {
    padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight:normal;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}