
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^regsol\.ie$ [OR]
RewriteCond %{HTTP_HOST} ^www\.regsol\.ie$
RewriteRule ^/?$ "https\:\/\/www\.regsol\.ie\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cpd$ "https\:\/\/www\.regsol\.ie\/public\-training\-schedule\.php" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cpd\/$ "https\:\/\/www\.regsol\.ie\/public\-training\-schedule\.php" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^CPD$ "https\:\/\/www\.regsol\.ie\/public\-training\-schedule\.php" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^CPD\/$ "https\:\/\/www\.regsol\.ie\/public\-training\-schedule\.php" [R=301,L]
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE application/x-javascript application/javascript
</IfModule>